include *.txt
include *.md
recursive-include custom_reports *.css
recursive-include custom_reports *.js
recursive-include custom_reports *.json
recursive-include custom_reports *.html
recursive-include custom_reports *.py
recursive-include custom_reports *.png
recursive-include custom_reports *.svg
